@media (min-width: 1024px) and (max-width: 1250px) {
    .center {
        padding-left: calc(50% - 500px);
        padding-right: calc(50% - 500px);
    }

    .content__box {
        width: 323px;
    }

    .game-1 {
        flex-direction: column;
        gap: 64px;

        &__left {
            align-items: center;

            &-text  {
                text-align: center;
            }

            &-title {
                text-align: center;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1023px){
    .center {
        padding-left: 100px;
        padding-right: 100px;
    }

    .header__heading {
        margin-bottom: 366px;
    }

    .content {
        justify-content: center;
        gap: 32px;
    }

    .content__box {
        width: 323px;
    }

    .game-1 {
        flex-direction: column;
        gap: 64px;

        &__left {
            align-items: center;

            &-text  {
                text-align: center;
            }

            &-title {
                text-align: center;
            }
        }
    }
}

@media (min-width: 520px) and (max-width: 768px){
    .center {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .header__heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 366px;
    }

    .header__title{
        text-align: center;
        font-size: 50px;
        line-height: 55px;
    }

    .header__text {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }

    .header__text span {
        font-size: 18px;
        line-height: 28px;
    }

    .content {
        justify-content: center;
        gap: 32px;
    }

    .game-1 {
        flex-direction: column;
        gap: 64px;

        &__left {
            align-items: center;

            &-text  {
                text-align: center;
            }

            &-title {
                text-align: center;
            }
        }
    }
}

@media (max-width: 519px){
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .header__heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 238px;
        margin-bottom: 366px;
    }

    .header__title{
        text-align: center;
        font-size: 32px;
        line-height: 39px;
    }

    .header__text {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }

    .header__text span {
        font-size: 14px;
        line-height: 22px;
    }

    .content {
        justify-content: center;
        gap: 32px;
    }

    .content__box {
        width: 343px;
    }

    .games {
        margin-bottom: 85px;
    }

    .game-1 {
        flex-direction: column;
        gap: 64px;

        &__left {
            align-items: center;

            &-text  {
                text-align: center;
                font-size: 14px;
                line-height: 22px;
            }

            &-title {
                text-align: center;
                font-size: 32px;
                line-height: 39px;
            }
        }

        &__right-img {
            width: 344px;
        }
    }
}