@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: rgb(0, 9, 21);
}

a {
  text-decoration: none;
  display: block;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-image: url(../img/header__back.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__heading {
  margin-top: 217px;
  margin-bottom: 493px;
  max-width: 750px;
}
.header__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78.02px;
}
.header__text {
  margin-top: 32px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  max-width: 481px;
}
.header__text span {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
.header__btn {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 234px;
  height: 48px;
  background: rgb(156, 3, 50);
  border-radius: 30px;
  color: #fff;
  transition: background-color 0.3s;
}
.header__btn:hover {
  background: rgb(235, 68, 63);
}

.main {
  flex-grow: 1;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 128px;
  margin-top: 128px;
}
.content__box {
  width: 378px;
  height: 300px;
  border-radius: 20px;
  padding: 0 0 32px 32px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.content__box:hover {
  outline: 1px solid rgb(68, 210, 255);
}
.content__box-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.content__box_1 {
  background-image: url(../img/card__1.jpg);
}
.content__box_2 {
  background-image: url(../img/card__2.jpg);
}
.content__box_3 {
  background-image: url(../img/card__3.jpg);
}

.games {
  display: flex;
  flex-direction: column;
  margin-bottom: 282px;
}

.game-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game-1__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 584px;
}
.game-1__left-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}
.game-1__left-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}
.game-1__left-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background-color: rgb(156, 3, 50);
  transition: background-color 0.3s;
}
.game-1__left-btn:hover {
  background-color: rgb(235, 68, 63);
}

@media (min-width: 1024px) and (max-width: 1250px) {
  .center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
  }
  .content__box {
    width: 323px;
  }
  .game-1 {
    flex-direction: column;
    gap: 64px;
  }
  .game-1__left {
    align-items: center;
  }
  .game-1__left-text {
    text-align: center;
  }
  .game-1__left-title {
    text-align: center;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .center {
    padding-left: 100px;
    padding-right: 100px;
  }
  .header__heading {
    margin-bottom: 366px;
  }
  .content {
    justify-content: center;
    gap: 32px;
  }
  .content__box {
    width: 323px;
  }
  .game-1 {
    flex-direction: column;
    gap: 64px;
  }
  .game-1__left {
    align-items: center;
  }
  .game-1__left-text {
    text-align: center;
  }
  .game-1__left-title {
    text-align: center;
  }
}
@media (min-width: 520px) and (max-width: 768px) {
  .center {
    padding-left: 50px;
    padding-right: 50px;
  }
  .header__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 366px;
  }
  .header__title {
    text-align: center;
    font-size: 50px;
    line-height: 55px;
  }
  .header__text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  .header__text span {
    font-size: 18px;
    line-height: 28px;
  }
  .content {
    justify-content: center;
    gap: 32px;
  }
  .game-1 {
    flex-direction: column;
    gap: 64px;
  }
  .game-1__left {
    align-items: center;
  }
  .game-1__left-text {
    text-align: center;
  }
  .game-1__left-title {
    text-align: center;
  }
}
@media (max-width: 519px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 238px;
    margin-bottom: 366px;
  }
  .header__title {
    text-align: center;
    font-size: 32px;
    line-height: 39px;
  }
  .header__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .header__text span {
    font-size: 14px;
    line-height: 22px;
  }
  .content {
    justify-content: center;
    gap: 32px;
  }
  .content__box {
    width: 343px;
  }
  .games {
    margin-bottom: 85px;
  }
  .game-1 {
    flex-direction: column;
    gap: 64px;
  }
  .game-1__left {
    align-items: center;
  }
  .game-1__left-text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .game-1__left-title {
    text-align: center;
    font-size: 32px;
    line-height: 39px;
  }
  .game-1__right-img {
    width: 344px;
  }
}/*# sourceMappingURL=style.css.map */